@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),
    url("./assets/fonts/Montserrat-Regular.ttf") format("woff");
  font-display: swap;
}

body {
  margin: 0;
  font: 19px / 23px Montserrat, "Montserrat", sans-serif;
  font-size: calc(1vw + 1vh);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.welcome {
  margin: 10vw 10vw 0 10vw; /* Top, right, bottom, left */
}

.greeting {
  color: red;
  font-weight: bold;
}

.biography {
  max-width: 30ch;
  line-height: 1.2;
}

.info {
  font-size: 19px;
  margin: 0;
}

.text {
  font-style: italic;
}

.separator {
  margin: 0.5em 0;
  border: none;
  border-top: 2px solid black;
}

.column {
  display: flex;
  align-items: center;
}

.table {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 10px;
  width: 90%;
}

.indent {
  text-indent: 5vw;
}

.indent-large {
  margin-left: 5vw;
  width: 80%;
}

.right {
  text-align: right;
  width: 30vw;
}

.icon {
  width: 2em;
  height: 2em;
  margin: 0 0.5em 0 0;
  fill: black;
  transition: all 0.5s ease;
}

.phone {
  width: 20px;
  height: 20px;
  margin: 0 0.5em 0 0;
  fill: black;
  transition: all 0.5s ease;
}

.message {
  width: 20px;
  height: 20px;
  margin: 0 0.5em 0 0;
  fill: black;
  transition: all 0.5s ease;
}

.icon:hover {
  fill: red;
}

.phone:hover {
  fill: #0077b6;
}

.message:hover {
  fill: greenyellow;
}

.no-style {
  text-decoration: none;
  color: inherit;
}