@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),
    url("./assets/fonts/Montserrat-Regular.ttf") format("woff");
  font-display: swap;
}
:root {
  --bg-color: #ffffff;
  --text-color: #1a1a1a;
  --button-bg: #f0f0f0;
  --svg-color: #000000;
  --sep-color: #000000;
  --invert-img: invert(0);
  --title-text-color: #950606;
  --border-radius-px: 10px;
  --contact-icon-size: 1em;
}
[data-theme='dark'] {
  --bg-color: #202020;
  --text-color: #f5f5f5;
  --button-bg: #1e1e1e;
  --svg-color: #ffffff;
  --sep-color: #ffffff;
  --title-text-color: #ff4b33;
  --invert-img: invert(1);
}

body {
  margin: 0;
  font: 19px / 23px Montserrat, "Montserrat", sans-serif;
  font-size: calc(1vw + 1vh);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.welcome {
  margin: 10vw; /* Top, right, bottom, left */
}

.intro {
  display: grid;
  grid-template-columns: 1fr auto;
}

.profile {
  border-radius: var(--border-radius-px);
  width: 20vw;
  height: auto;
}

.greeting {
  color: var(--title-text-color);
  font-weight: bold;
  align-items: end;
  margin-top: 0;
  margin-bottom: 0;
  font-size: min(3.8vw, 70px);
}

.biography {
  max-width: 30ch;
  line-height: 1.2;
}

.title {
  color: var(--title-text-color);
  font-size: min(3.2vw, 45px);
  margin-top: 20px;
  margin-bottom: 0px;
}

.info {
  font-size: 1em;
  margin: 0.5vw;
}

.text {
  font-style: italic;
  line-height: 1.0;
}

.description {
  max-width: 50vw;
}

.icon-container {
  margin-bottom: 1em;
}
.icon {
  width: 2em;
  height: 2em;
  margin: 0 0.5em 0 0; /* Top, right, bottom, left */
  fill: var(--svg-color);
  transition: fill 0.5s ease;
}
.icon:hover {
  fill: var(--title-text-color);
}

.icon-extras {
  border: none;
  border-radius: var(--border-radius-px);
}

.button {
  color: var(--text-color);
  background-color: var(--button-bg);
  border: none;
  border-radius: var(--border-radius-px);
  padding: 10px;
  margin-top: 10px;
  margin-left: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.control {
  width: 2em;
  height: 2em;
  margin: 0; /* Top, right, bottom, left */
  fill: var(--svg-color);
  transition: fill 0.5s ease;
}
.button:hover .control {
  fill: var(--title-text-color);
}

.invertimg {
  filter: var(--invert-img);
  transition: filter 0.3s ease;
}

.phone {
  width: var(--contact-icon-size);
  height: var(--contact-icon-size);
  margin: 0 0.5em 0 0;
  fill: var(--svg-color);
  transition: fill 0.5s ease;
}
.phone:hover {
  fill: #65C466;
}

.message {
  width: var(--contact-icon-size);
  height: var(--contact-icon-size);
  margin: 0 0.5em 0 0;
  fill: var(--svg-color);
  transition: fill 0.5s ease;
}
.message:hover {
  fill: #65C466;
}

.email {
  width: var(--contact-icon-size);
  height: var(--contact-icon-size);
  margin: 0 0.5em 0 0;
  fill: var(--svg-color);
  transition: fill 0.5s ease;
}
.email:hover {
  fill: #007AFF;
}

.location {
  width: var(--contact-icon-size);
  height: var(--contact-icon-size);
  margin: 0 0.5em 0 0;
  fill: var(--svg-color);
  transition: fill 0.5s ease;
}
.location:hover {
  fill: #d3494e;
}

.separator {
  margin: calc(2em - 3vh) 0 1em 0; /* Top, right, bottom, left */
  border: none;
  border-top: calc(0.2vh + 0.2vw) solid var(--sep-color);
  transition: border-top 0.3s ease;
}

.separator-small {
  margin: calc(2em - 3vh) 0 1em 0; /* Top, right, bottom, left */
  border: none;
  border-top: calc(0.2vh + 0.2vw) solid var(--sep-color);
  width: 95%;
  transition: border-top 0.3s ease;
}

.column {
  display: flex;
  align-items: center;
}

.table {
  display: grid;
  grid-template-columns: 1fr auto;
  width: 90%;
}

.indent {
  padding-left: 5vw;
}

.indent-large {
  margin-left: 5vw;
  width: 80%;
}

.container {
  display: grid;

  grid-template-columns: repeat(4, auto);
  grid-auto-flow: row;

  gap: 20px;
}

@media (max-width: 768px) {
  .container {
    display: grid;

    grid-template-columns: repeat(3, auto);
    grid-auto-flow: row;

    gap: 20px;
  }
}

.skillpoint {
  text-align: center;
}