main{
	margin-top: 20%;
    margin-bottom: 20%;
    text-align: center;
    padding:40px;
    font-family:Arial;
    font-size:40px;
}
main h1:hover{
    font-size:60px;
    background-color:black;
    color:grey;
}