main{
    font-family:Arial;
    font-size:20px;
}
main h1{
    color:grey;
    text-align: center;
    font-family:Arial;
    font-size:40px;
}
main h2{
    background-color:black;
    color:grey;
    text-align: center;
    font-family:Arial;
    font-size: 30px;
    padding: 10px;
    display: block;
}
main h2:hover{
    color: red;
    transition: color 1s;
}

ul {
    list-style-type: none;
    display: grid;
}
li{
    display: inline;
}
.gridParent{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}
.item{
    background-color:black;
    color:grey;
    text-align: center;
    font-family:Arial;
    font-size: 30px;
    padding: 10px;
    display: block;
}

.item:hover{
    color: red;
    transition: color 1s;
}

