main {
    font-family:Arial;
    font-size:10px;
}

body {
    background-color: #343a40;
    margin: 0;
}

header {
    background-color: #212529;
    padding: 5px;
}

footer {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

.top {
    display: flex;
    justify-content: space-between;
}

.left {
    order: 0;
}

.right {
    display: flex;
    justify-content: flex-end;
    padding-right: 35px;
}

.right svg {
    padding-top: 10px;
    padding-right: 10px;
    width: 50px;
    height: 50px;
    fill:white;
    transition: all 0.5s ease;
}

.right svg:hover {
    fill:darkred;
}

header h1 {
    color:white;
    text-align: left;
    font-family:Arial;
    font-size:30px;
    padding-left: 35px;
}

main h2 {
    color:white;
    text-align: center;
    font-family:Arial;
    font-size: 20px;
    padding: 10px;
    display: block;
    border-radius: 10px;
    transition: all 0.5s ease;
}
main h2:hover {
    background-color:#495057;
}

main ul {
    list-style-type: none;
    display: grid;
}
main li{
    display: inline;
}

footer p {
    color:grey;
    font-family: monospace;
    text-align: center;
    padding-left: 10px;
}

.gridParent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

